.navbar-default .navbar-nav li a {
    color: #ff0000;
    font-weight: 700;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #0072ff;
}

.navbar-logo {
    height: 50px;
}

.navbar-brand {
    padding: 0;
}
