.homePageHeader {
    background-color: white;
    padding: 50px 0;
    text-align: center;
}

.homePageLargeLogo {
    display: block;
    max-width: 100%;
    height: 450px;
    margin: 50px auto;
}

.homePageHeaderContent {
    display: block;
    margin: 0 auto;
}

.homePageHeaderContent h1 {
    font-size: 6em;
    font-weight: 700;
}

.homePageHeaderContent h3 {
    font-size: 1.5em;
}