.NavigationItems {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-content: center;
    height: 100%;
}

.NavigationItems li {
    text-align: center;
}

@media(min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}